body {
    background-color: #f4e6c7; /* Color de fondo relacionado con la madera */
    background-image: url(/src/main/resources/static/img/imgBg.jpeg);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

