body {
  background-color: #f4e6c7; /* Color de fondo relacionado con la madera */
  background-image: url(/img/imgBg.jpeg);
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.container {
  background-color: #e9e7e7; /* Color de fondo del formulario */
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px; /* Espacio desde la parte superior */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Sombra ligera */
}
.imgLogo{
  width: 10vw;
  border-radius: 30%;
  justify-content: center ;
  
  } 

form{
    box-shadow: 2px  6px 100px #ffffff;
    border-radius: 10px;
    border:solid 4px black;
    background-color:  rgba(120, 53, 15, 0.2);
    
}

.bgAnchor{
background-color: rgba(0, 0, 0, 0.4);
border-radius: 5%;

}
