<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a MaderBook - Iniciar Sesión</title>
    <!-- Agrega enlaces a los archivos CSS de Bootstrap y tu propio CSS personalizado -->
    <link href="src\main\resources\static\css\style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/AdministracionMaderera/src/main/resources/static/css/style.css" rel="stylesheet">
    <!-- Crea un archivo styles.css para tus estilos personalizados -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;700&display=swap" rel="stylesheet">
    <!-- Agrega aquí la paleta de colores relacionados con la madera -->
</head>
<header>
    <nav class="navbar navbar-expand-lg">
        <div class="d-flex container">
            <!-- Logotipo -->
            <a class="navbar-brand" th:href="@{/}">
                <img class="imgLogo" src="/AdministracionMaderera/src/main/resources/static/img/imgLogo.jpeg" alt="Logo">
            </a>
            <!-- Botón para colapsar la barra de navegación en dispositivos pequeños -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Barra de navegación con dos elementos -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/ingresar}">Iniciar Sesion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/register}">Registrarse</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<body class="container">

    <div class="mt-4">
        <h2 class="m-4 p-2">Misión</h2>
        <p class="m-4 p-2">Abastecer a nuestros clientes de productos de primera calidad, ofreciendo un servicio de
            excelencia, manteniendo nuestro stock en forma permanente y consolidando en estas bases la sustentabilidad
            de nuestra empresa.</p>
    </div>
    <div class="d-flex justify-content-around ">
        <img src="/AdministracionMaderera/src/main/resources/static/img/castor2.jpeg" alt="castor" class="d-flex">
        <div class="mt-4">
            <h2 class="m-3 p-3">Visión</h2>
            <p class="m-3 p-3">Estudiar permanentemente el movimiento del mercado para ofrecer las mejores alternativas
                según la
                demanda, ser eficiente en el servicio y desarrollar relaciones comerciales a largo plazo con nuestros
                clientes y proveedores.</p>
        </div>
    </div>
    <div class="d-flex justify-content-around m-4">

        <div class="">
            <h2 class="m-6 p-3"> Valores</h2>
            <p class="m-6 p-3">Honestidad: en nuestras acciones y palabra <br>
                Seriedad: en todos nuestros actos cotidianos <br>
                Respeto: por nuestros clientes <br>
                Pasión: por lo que hacemos día a día.</p>
        </div>
        <img src="/AdministracionMaderera/src/main/resources/static/img/castor3.jpeg" alt="castor" class="d-flex">
    </div>
    <div class="d-flex justify-content-around ">
        <img src="/AdministracionMaderera/src/main/resources/static/img/castor4.jpeg" alt="castor" class="d-flex">
        <div class="mt-4">
            <h2 class="m-3 p-3">Porqué Elegirnos</h2>
            <p class="m-3 p-3">Para que pueda ofrecer sus productos en el momento indicado y de acuerdo a las exigencias
                de sus clientes, poseemos un eficiente sistema de Logística, cubriendo toda la provincia en menos de 24
                hs, sin cargo en Posadas y alrededores.
                Toda nuestra flota está a su disposición.</p>
        </div>

    </div>
    <div class="d-flex justify-content-around m-4">
        <div class="">
            <h2 class="m-6 p-3"> Herramientas de Ventas</h2>
            <p class="m-6 p-3">Siempre nos preocupamos por el crecimiento de su negocio para que pueda mostrar los
                productos en su mejor expresión, ponemos a su disposición una cantidad de herramientas de ventas que
                realzarán su calidad y facilitarán la explicación de sus características a los clientes.
                Trabajamos junto a tus equipos de Marketing para potenciar el crecimiento de tu negocio sin cargo.</p>
        </div>
        <img src="/AdministracionMaderera/src/main/resources/static/img/castor1.jpeg" alt="castor" class="d-flex">
    </div>
    <footer class="text-black py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h4>Contacto</h4>
                    <p>Dirección: 123 Calle de la Madera, Ciudad Madera</p>
                    <p>Teléfono: (123) 456-7890</p>
                    <p>Email: info@maderbook.com</p>
                </div>
                <div class="col-md-6 text-md-end">
                    <h4>RRSS</h4>
                    <!-- Agrega aquí íconos o enlaces a tus redes sociales utilizando los componentes de Bootstrap si es necesario -->
                </div>
            </div>
        </div>
    </footer>

    <!-- Agrega enlaces a los archivos JavaScript de Bootstrap (si es necesario) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>