<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/AdministracionMaderera/src/main/resources/static/css/login.css" rel="stylesheet">
    <!-- Crea un archivo styles.css para tus estilos personalizados -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;700&display=swap" rel="stylesheet">
    <!-- Agrega aquí la paleta de colores relacionados con la madera -->
    <title>Login</title>
</head>
<header>
    
</header>

<body class="container">

    <nav class="navbar navbar-expand-lg">
        <div class="d-flex container">
            <!-- Logotipo -->
            <a class="navbar-brand" th:href="@{/}">
                <img class="imgLogo" src="/AdministracionMaderera/src/main/resources/static/img/imgLogo.jpeg" alt="Logo">    
            </a>

            <!-- Botón para colapsar la barra de navegación en dispositivos pequeños -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Barra de navegación con dos elementos -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">Inicio</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>
    
    <div>
        <h1 class="form-title m-3">Bienvenido a MaderBook</h1>
        <h2 class="text-center">Iniciar Sesión</h2>
        <form class="container">
            <div class="mb-3">
                <label for="usuario" class="form-label">Usuario</label>
                <input type="text" class="form-control" id="usuario" placeholder="Ingresa tu usuario">
            </div>
            <div class="mb-3">
                <label for="contrasena" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="contrasena" placeholder="Ingresa tu contraseña">
            </div>
            <div class="m-5 d-flex justify-content-around ">
                <!-- Modificar con el inicio de sesion exitoso o negativo con th if -->
                <a th:href="@{/tables}" type="submit" class="btn btn-primary">Iniciar Sesión</a>
                <a th:href="@{/register}" class="btn btn-primary">Registrarse</a>
            </div>
        </form>
    </div>
    <footer class="text-black py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h4>Contacto</h4>
                    <p>Dirección: 123 Calle de la Madera, Ciudad Madera</p>
                    <p>Teléfono: (123) 456-7890</p>
                    <p>Email: info@maderbook.com</p>
                </div>
                <div class="col-md-6 text-md-end">
                    <h4>RRSS</h4>
                    <!-- Agrega aquí íconos o enlaces a tus redes sociales utilizando los componentes de Bootstrap si es necesario -->
                </div>
            </div>
        </div>
    </footer>

</body>

</html>