<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/AdministracionMaderera/src/main/resources/static/css/register.css" rel="stylesheet">
    <!-- Crea un archivo styles.css para tus estilos personalizados -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;700&display=swap" rel="stylesheet">
    <title>Registro de Usuarios</title>
</head>
<header>
    <div th:if=${param.exito}>
        <div class="card text-white bg-success mb-3 text-center">
            <h3>¡Bienvenido a MaderBook!</h3>
            Se ha registrado exitosamente a la aplicacion
        </div>
    </div>
    <div th:if="${exito}!=null">
        <div class="card text-white bg-success mb-3">
            <div class="card-body">
                <h5 class="card-title">Exito</h5>
                <p class="card-text" th:text="${exito}"></p>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <!-- Logotipo -->
            <a class="navbar-brand" th:href="@{/}">
                <img class="imgLogo" src="/AdministracionMaderera/src/main/resources/static/img/imgLogo.jpeg" alt="Logo">
            </a>

            <!-- Botón para colapsar la barra de navegación en dispositivos pequeños -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Barra de navegación con dos elementos -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">Inicio</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>

<body class="container">
    <div>
        <h1 class="form-title m-5 text-center">Registro de Usuarios</h1>

        <form class="row g-3 mx-auto d-flex" th:action="@{/register}" method="POST" th:object="${usuario}">
            <div class="col-md-12 ">
                <label for="nombre" class="form-label">Nombre y Apellido</label>
                <input type="text" class="form-control" placeholder="Ingrese su nombre y apellido" id="nombre"
                    th:field="*{nombre}" required autofocus="autofocus">
            </div>
            <div class="col-md-6">
                <label for="domicilio" class="form-label">Domicilio</label>
                <input type="text" class="form-control" placeholder="Ingrese su domicilio" id="domicilio"
                    th:field="*{domicilio}" autofocus="autofocus">
            </div>
            <div class="col-6">
                <label for="cuit" class="form-label">CUIT</label>
                <input type="text" class="form-control" id="cuit" placeholder="Ingrese su CUIT" th:field="*{cuit}"
                    autofocus="autofocus">
            </div>
            <div class="col-4">
                <label for="correo" class="form-label">Email</label>
                <input type="email" class="form-control" id="correo" placeholder="Ingrese su correo electrónico"
                    th:field="*{email}" required autofocus="autofocus">
            </div>
            <div class="col-4">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" class="form-control" placeholder="Ingrese su contraseña" id="password"
                    th:field="*{password}" required autofocus="autofocus">
            </div>
            <div class="col-4">
                <label for="password" class="form-label">Repetir Contraseña</label>
                <input type="password" class="form-control" placeholder="Repita su contraseña" id="password" required
                    autofocus="autofocus">
            </div>
            <div class="col-4">
                <label for="state" class="form-label">Provincia</label>
                <input type="text" class="form-control" placeholder="Ingrese la provincia" id="state"
                    th:field="*{provincia}" required autofocus="autofocus">
            </div>
            <div class="col-4">
                <label for="city" class="form-label">Ciudad</label>
                <input type="text" class="form-control" placeholder="Ingrese la ciudad" id="city" th:field="*{ciudad}"
                    required autofocus="autofocus">
            </div>
            <div class="col-4">
                <label for="fiscal" class="form-label">Condición Fiscal</label>
                <select id="fiscal" class="form-select" th:field="*{condicionFiscal}" autofocus="autofocus">
                    <option selected value="N/A">Elegir...</option>
                    <option value="Responsable Inscripto">Responsable Inscripto</option>
                    <option value="Monotributista">Monotributo</option>
                    <option value="Consumidor Final">Consumidor Final</option>
                </select>
            </div>

            <div class="col-12">
                <div class="form-check d-flex justify-content-center">
                    <input class="form-check-input" type="checkbox" id="gridCheck" required
                        title="Debe aceptar para poder registrarse en MaderBook">
                    <label class="form-check-label" for="gridCheck">
                        <a href="" class="bgAnchor">Acepto los términos de MaderBook</a>
                    </label>
                </div>
            </div>
            <div class="col-6">
                <button type="submit" class="btn btn-success m-4 ">Enviar Formulario</button>
                <span>Si esta registrado <a th:href="@{/ingresar}" class="bgAnchor">inicie sesion aqui</a></span>
            </div>


        </form>
    </div>

</html>