<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/AdministracionMaderera/src/main/resources/static/css/tables.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;700&display=swap" rel="stylesheet">
    <title>Tablas de Usuario</title>
</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container">
            <!-- Logotipo -->
            <a class="navbar-brand" href="index.html">
<<<<<<< HEAD
                <img class="imgLogo" src="/AdministracionMaderera/src/main/resources/static/img/imgLogo.jpeg" alt="Logo">
=======
                <img class="imgLogo" src="/img/imgLogo.jpeg" alt="Logo">
>>>>>>> d4c01c6224f7531178ff6bbb36d319779c98482e
            </a>

            <!-- Botón para colapsar la barra de navegación en dispositivos pequeños -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Barra de navegación con dos elementos -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/perfil}">Mi Perfil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Clientes</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<body>

    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-warning table-hover table-bordered align-middle ">
                    <thead class="table-primary">
                        <tr>
                            <th>Material</th>
                            <th>Descripción</th>
                            <th>Precio</th>
                            <th>Stock</th>
                            <th>Disponibilidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Pino</td>
                            <td>Pino Cepillado</td>
                            <td>40000 </td>
                            <td>Si</td>
                            <td>4500</td>
                        </tr>
                        <tr>
                            <td>Algarrobo</td>
<<<<<<< HEAD
                            <td>Algarrobo sin cepillar</td>
                            <td>56000 </td>
                            <td>SI</td>
                            <td>5688</td>
=======
                            <td>$6000</td>
                            <td>1000000 </td>
                            <td>Si</td>
                            <td>Algarrobo de primera</td>
>>>>>>> d4c01c6224f7531178ff6bbb36d319779c98482e
                        </tr>
                        <tr>
                            <td>Cedro</td>
                            <td>$5000</td>
                            <td>80000 </td>
                            <td>Si</td>
                            <td>Cedro de segunda</td>
                        </tr>

                        <tr>
                            <td>Pino</td>
                            <td>$3000</td>
                            <td>40000 </td>
                            <td>Si</td>
                            <td>Pino para losa</td>
                        </tr>
                        <tr>
                            <td>Quebracho</td>
                            <td>$6000</td>
                            <td>1000000 </td>
                            <td>Si</td>
                            <td>Quebracho cepillado</td>
                        </tr>
                        <tr>
                            <td>Cedro</td>
                            <td>$5000</td>
                            <td>80000 </td>
                            <td>Si</td>
                            <td>Cedro de primera</td>
                        </tr>
                        




                    </tbody>

                </table>

            </div>
        </div>

    </div>


</body>

</html>